
<!-- Scrollable horizontal tech menu -->
<div class="bg-dark overflow-auto sticky-top">
  <div class="d-flex flex-nowrap px-3 py-2">
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">HTML</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">CSS</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">JAVASCRIPT</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">SQL</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">PYTHON</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">JAVA</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">PHP</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">HOW TO</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">W3.CSS</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">C++</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">C#</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">BOOTSTRAP</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">REACT</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">MYSQL</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">JQUERY</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">EXCEL</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">XML</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">DJANGO</a>
    <a href="#" class="text-white text-decoration-none px-3 fw-bold">NUMPY</a>
  </div>
</div>