<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body  >
  <div style="background-color: #282A35; display: flex; flex-direction: column; align-items: center;">
    <h1 style="font-size: 60px; color: white; font-weight: bold; margin-top: 6rem;">Learn To Code</h1>
    <h3 style="color: wheat; font-weight: bold; margin-top: 1rem;">with the worlds's largest web developer side</h3>
    <div>
    <input type="text" style="height: 50px; width: 400px; margin-top: 2rem; border-top-left-radius: 25px; border-bottom-left-radius:25px; 
    padding: 10px; font-weight: 600; border: none;"
     placeholder="Search our tutorial e.g. HTML">
     <button style="background-color: #04AA6D; height: 51px; width: 100px; border: none; margin-left:-11px;
      border-bottom-right-radius: 25px; border-top-right-radius: 25px; padding: 10px 16px;" >
       <i class="fa-solid fa-magnifying-glass"></i></button>
       <h4 style="margin: 3rem;">
        <a href="#" style="color: white; font-weight:bolder; margin-left: 2rem;">Not Sure Where To Begin?</a>
       </h4>
     </div>
     <br>
     <br>
     
  </div>
  
</div>

 
<!-- Flex Container for 2 Column Layout -->
 <div style="background-color: #D9EEE1; margin-top: -5rem;">
<div style="display: flex; justify-content: center; align-items: flex-start; gap: 60px; margin-top: 50px;
 flex-wrap: wrap;background-color: #D9EEE1;  margin-bottom: 5rem;">

  <!-- LEFT SIDE: HTML Info + Buttons -->
  <div style="text-align: center; margin-top: 4rem;">
    <h1 style="font-size: 60px; font-weight: bold;">HTML</h1>
    <p style="font-size: 20px;">The language for building web pages</p>

    <a href="https://www.w3schools.com/html/default.asp" style="background-color: #04AA6D; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: white; font-size: 20px;">Learn HTML</a>

    <a href="https://www.w3schools.com/videos/index.php" style="background-color: #FFE4A3; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: black; font-size: 20px;">Video Tutorial</a>

    <a href="https://www.w3schools.com/tags/default.asp" style="background-color: #1E82A3; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: white; font-size: 20px;">HTML Reference</a>

    <a href="https://campus.w3schools.com/en-in/collections/certifications/products/html-certificate" style="background-color: #FFCCF7; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: black; font-size: 20px;">Get Certified</a>
  </div>

  <!-- RIGHT SIDE: HTML Code Example Box -->
  <div style="background-color: #f1f1f1; padding: 20px; border-radius: 10px; width: 350px; font-family: monospace;margin-top: 4rem; margin-bottom: 5rem;">
    <h3 style="font-family: 'Segoe UI'; font-weight: bold;">HTML Example:</h3>
    <pre style="background-color: white; padding: 20px; border-radius: 10px; overflow-x: auto; font-size: 14px;">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;HTML Tutorial&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

  &lt;h1&gt;This is a heading&lt;/h1&gt;
  &lt;p&gt;This is a paragraph.&lt;/p&gt;

&lt;/body&gt;
&lt;/html&gt;
    </pre>

    <!-- Try it Yourself Button -->
    <div style="text-align: center; margin-top: 20px;">
      <a href="https://www.w3schools.com/html/tryit.asp?filename=tryhtml_default_default" style="background-color: #04AA6D; color: white; padding: 10px 25px; 
         border-radius: 30px; text-decoration: none; font-weight: bold;">Try it Yourself</a>
    </div>
  </div>
<br style="background-color:  #D9EEE1;">

</div>
</div>


<!--  -->
  <!-- css vala start hai yaha se -->
   <div  style="display: flex; justify-content: center; align-items: flex-start; gap: 60px; margin-top: -80px; flex-wrap: wrap; background-color: #FFF4A3;">
    <div style="text-align: center; margin-top: 5rem;">
    <h1 style="font-size: 60px; font-weight: bold;">CSS</h1>
    <p style="font-size: 20px;">The lamguage for styling page</p>

    <a href="https://www.w3schools.com/python/default.asp" style="background-color: #04AA6D; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: white; font-size: 20px;">Learn CSS</a>

    <a href="https://www.w3schools.com/python/python_reference.asp" style="background-color: #282A35; height: 45px; color: white; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none;  font-size: 20px;">CSS Reference</a>

    <a href="https://campus.w3schools.com/en-in/collections/certifications/products/python-certificate" style="background-color: #FFCCF7; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: black; font-size: 20px;">Get Certified</a>
  </div>

  <!-- RIGHT SIDE: HTML Code Example Box -->
  <div style="background-color: #f1f1f1; padding: 30px;  border-radius: 10px; width: 350px; font-family: monospace;
   margin-bottom: 10rem; margin-top: 5rem;">
    <h3 style="font-family: 'Segoe UI'; font-weight: bold;">CSS Example:</h3>
    <pre style="background-color: white; padding: 20px; border-radius: 10px; overflow-x: auto; font-size: 14px; padding-left: 0px;">

     h1{
      color : green;
     }
     p{
      background-color: pink;
     }
  
    </pre>

    <!-- Try it Yourself Button -->
    <div style="text-align: center; margin-top: 20px;">
      <a href="https://www.w3schools.com/python/trypython.asp?filename=demo_indentation" style="background-color: #04AA6D; color: white; padding: 10px 25px; 
         border-radius: 30px; text-decoration: none; font-weight: bold;">Try it Yourself</a>
    </div>
  </div>
  </div>

  <!-- yaha se javascript wala suru h -->
     <div  style="display: flex; justify-content: center; align-items: flex-start; gap: 60px; margin-top: -80px; flex-wrap: wrap;
      background-color: #282A35;">
    <div style="text-align: center; margin-top: 5rem;">
    <h1 style="font-size: 60px; font-weight: bold; color: white;">JavaScript</h1>
    <p style="font-size: 20px; color: white;">The lamguage for Programming web page</p>

    <a href="https://www.w3schools.com/python/default.asp" style="background-color: #04AA6D; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: white; font-size: 20px;">Learn JavaScript</a>

    <a href="https://www.w3schools.com/python/python_reference.asp" style="background-color: white; height: 45px; color:black; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none;  font-size: 20px;">JavaScript Reference</a>

    <a href="https://campus.w3schools.com/en-in/collections/certifications/products/python-certificate" style="background-color: #FFCCF7; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: black; font-size: 20px;">Get Certified</a>
  </div>

  <!-- RIGHT SIDE: HTML Code Example Box -->
  <div style="background-color: #f1f1f1; padding: 30px;  border-radius: 10px; width: 350px; font-family: monospace;
   margin-bottom: 10rem; margin-top: 5rem;">
    <h3 style="font-family: 'Segoe UI'; font-weight: bold;">JavaScript Example:</h3>
    <pre style="background-color: white; padding: 20px; border-radius: 10px; overflow-x: auto; font-size: 14px; padding-left: 0px;">

     &lt;button onclick = "myFunction()"&gt;<br>
     Click Me! &lt;/button&gt;
    
      &lt;script&gt;<br>
      function myFunction() {<br>
      let x = document.getElementById("demo");<br>
      x.style.color = "red"
      }
      
    </pre>

    <!-- Try it Yourself Button -->
    <div style="text-align: center; margin-top: 20px;">
      <a href="https://www.w3schools.com/python/trypython.asp?filename=demo_indentation" style="background-color: #04AA6D; color: white; padding: 10px 25px; 
         border-radius: 30px; text-decoration: none; font-weight: bold;">Try it Yourself</a>
    </div>
  </div>
  </div>

  <!-- //yaha se sql wala ho -->
    <div  style="display: flex; justify-content: center; align-items: flex-start; gap: 60px; margin-top: -80px; flex-wrap: wrap;
      background-color: #96D4D4;">
    <div style="text-align: center; margin-top: 5rem;">
    <h1 style="font-size: 60px; font-weight: bold; color:black;">SQL</h1>
    <p style="font-size: 20px; color:black;">A language for accesing DataBase</p>

    <a href="https://www.w3schools.com/python/default.asp" style="background-color: #04AA6D; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: white; font-size: 20px;">Learn SQL</a>

    <a href="https://www.w3schools.com/python/python_reference.asp" style="background-color: #282A35; height: 45px; color:white; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none;  font-size: 20px;">SQL Reference</a>

    <a href="https://campus.w3schools.com/en-in/collections/certifications/products/python-certificate" style="background-color: #FFCCF7; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: black; font-size: 20px;">Get Certified</a>
  </div>

  <!-- RIGHT SIDE: HTML Code Example Box -->
  <div style="background-color: #f1f1f1; padding: 30px;  border-radius: 10px; width: 350px; font-family: monospace; margin-bottom: 5rem; margin-top: 5rem;">
    <h3 style="font-family: 'Segoe UI'; font-weight: bold;">SQL Example:</h3>
    <pre style="background-color: white; padding: 20px; border-radius: 10px; overflow-x: auto; font-size: 14px; padding-left: 0px;">

    SELECT * FORM customer;
    WHERE  country : 'Delhi'
      
    </pre>
    <br>

    <!-- Try it Yourself Button -->
    <div style="text-align: center; margin-top: 20px;">
      <a href="https://www.w3schools.com/python/trypython.asp?filename=demo_indentation" style="background-color: #04AA6D; color: white; padding: 10px 25px; 
         border-radius: 30px; text-decoration: none; font-weight: bold;">Try it Yourself</a>
    </div>
  </div>
  </div>

<!-- yaha se sare div hai ab -->


</body>
</html>  