<!-- 
<div class="w3-hide-small w3-card-2 w3-round" style="padding: 10px;margin: 10px 0px; background-color: rgb(244, 244, 244); border-radius: 10px; height: 500px; width: 700px;">
    <h3 style="color: #000000; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size:24px; display: flex; justify-content: space-evenly; align-items: flex-start;">
        HTML Example:</h3>
    <div class="w3-code htmlHigh notranslate green-border" style="height: 300px;background-color: #FFFFFF;">
        <span class="doctypecolor" style="color: slategrey;">!DOCTYPE html</span>
        <br>
        <span class="tagnamecolor" style="color: #905;">
        <span class="tagcolor" style="color: #999;"><</span>
        html
        <span class="tagcolor" style="color: #999;">></span>
        </span>
        <br>
        <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          head
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        <br>
        <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          title
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        HTML tutorial
        <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          title
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        <br>
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          /head
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        <br>
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          body
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        <br>
        <br>
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          h1
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        <b>This is a h1 Heading</b> 
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          /h1
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        <br>
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          h2
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        This is a h2 Heading 
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          /h2
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        <br>
        <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          h3
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        This is a h3 Heading 
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          /h3
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        <br>
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          p
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        This is a Pairagraph
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          /p
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        <br>
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          button
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        button
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          /button
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        <br>
        <br>
         <span class="tagnamecolor" style="color: #905;" >
         <span class="tagcolor" style="color: #999;"><</span>
          /body
          <span class="tagcolor" style="color: #999;">></span>
        </span>
        <br>
         <span class="tagnamecolor" style="color: #905;">
        <span class="tagcolor" style="color: #999;"><</span>
        /html
        <span class="tagcolor" style="color: #999;">></span>
        </span>
    </div>
         <button style="background-color:#04AA6D; height: 50px; width: 200px; border-radius: 50px; font-size: 20px; margin-top: 25px;">Try it Your Self</button>
</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>paython</title>
</head>
<body style="background-color: #F3ECEA;">
  <div  style="display: flex; justify-content: center; align-items: flex-start; gap: 60px; margin-top: 50px; flex-wrap: wrap;">
    <div style="text-align: center;">
    <h1 style="font-size: 60px; font-weight: bold;">PAYTHON</h1>
    <p style="font-size: 20px;">A Popular programing language</p>

    <a href="https://www.w3schools.com/python/default.asp" style="background-color: #04AA6D; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: white; font-size: 20px;">Learn PaythonL</a>

    <a href="https://www.w3schools.com/python/python_reference.asp" style="background-color: #282A35; height: 45px; color: white; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none;  font-size: 20px;">Paython Reference</a>

    <a href="https://campus.w3schools.com/en-in/collections/certifications/products/python-certificate" style="background-color: #FFCCF7; height: 45px; width: 200px; border-radius: 30px;
      display: block; margin: 15px auto; text-align: center; line-height: 45px;
      text-decoration: none; color: black; font-size: 20px;">Get Certified</a>
  </div>

  <!-- RIGHT SIDE: HTML Code Example Box -->
  <div style="background-color: #f1f1f1; padding: 30px;  border-radius: 10px; width: 350px; font-family: monospace; margin-bottom: 5rem;">
    <h3 style="font-family: 'Segoe UI'; font-weight: bold;">Paython Example:</h3>
    <pre style="background-color: white; padding: 20px; border-radius: 10px; overflow-x: auto; font-size: 14px; padding-left: 0px;">

      if &gt; 2 :
      print("Five is grater Than two");
      <br>
      <br>
      <br>
    </pre>

    <!-- Try it Yourself Button -->
    <div style="text-align: center; margin-top: 20px;">
      <a href="https://www.w3schools.com/python/trypython.asp?filename=demo_indentation" style="background-color: #04AA6D; color: white; padding: 10px 25px; 
         border-radius: 30px; text-decoration: none; font-weight: bold;">Try it Yourself</a>
    </div>
  </div>
  </div>
</body>
</html>


<!-- DIV KE LIYE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="background-color: #282A35; ">
  <div style="background-color: #282A35; display: inline-block; gap: 100px;">
    <div  style="display: inline-flex; margin-left: 7rem; margin-top: 4rem;  ">
  <div style="height: 280PX; width: 600px; background-color: #FFC0C7;border-radius: 10px; border-radius: 10px;padding: 40px;">
    <h1 style="margin-left: 12rem; font-weight: bold; margin-top: 2rem;">PHP</h1>
    <h4 style="font-weight: bold; margin-top: 1rem;margin-left: 4rem;">A web server Programming language</h4>
    <button style="background-color: #282A35;color: white;margin-left: 12rem;
    margin-top: 1rem; height: 40px; width: 100px; border-radius: 5px;">Learn PHP</button>
  </div>
   <div style="height: 280PX; width: 600px; background-color: #FFF4A3;margin-left: 7rem;border-radius: 10px;padding: 40px ;">
    <h1 style="margin-left: 12rem; font-weight: bold; margin-top: 2rem;">JQuery</h1>
    <h4 style="font-weight: bold; margin-top: 1rem;margin-left: 4rem;">A JS library for developing web page</h4>
    <button style="background-color: #282A35; color: white;margin-left: 14rem;
    margin-top: 1rem; height: 40px; border-radius: 5px;">Learn JQuery</button>
  </div>
</div>
<br>
<br>
  <div style="background-color: #282A35; display: inline-block; gap: 100px;">
    <div  style="display: inline-flex; margin-left: 7rem; margin-top: 4rem;  ">
  <div style="height: 280PX; width: 600px; background-color: #96D4D4;border-radius: 10px; border-radius: 10px;padding: 30px;">
    <h1 style="margin-left: 12rem; font-weight: bold; margin-top: 1rem;">W3CSS</h1>
    <h4 style="font-weight: bold; margin-top: 1rem;margin-left: 4rem;">A CSS framework for faster and better responsive web pages</h4>
    <button style="background-color: #282A35;color: white;margin-left: 12rem;
    margin-top: 1rem; height: 40px;  border-radius: 5px;">Learn w3.CSS</button>
  </div>
   <div style="height: 280PX; width: 600px; background-color: #E7E9EB;margin-left: 7rem;border-radius: 10px;padding: 30px ;">
    <h1 style="margin-left: 12rem; font-weight: bold; margin-top: 1rem;">Bootstrap</h1>
    <h4 style="font-weight: bold; margin-top: 1rem;margin-left: 4rem;">A CSS framework for designing better web pages</h4>
    <button style="background-color: #282A35; color: white;margin-left: 14rem;
    margin-top: 1rem; height: 40px; border-radius: 5px; ">Learn Bootstrap</button>
  </div>
</div>
<br>
<br>
<div style="background-color: #282A35; display: inline-block; gap: 100px;">
    <div  style="display: inline-flex; margin-left: 7rem; margin-top: 4rem;  ">
  <div style="height: 280PX; width: 600px; background-color: #F3ECEA;border-radius: 10px; border-radius: 10px;padding: 30px;">
    <h1 style="margin-left: 12rem; font-weight: bold; margin-top: 1rem;">C++</h1>
    <h4 style="font-weight: bold; margin-top: 1rem;margin-left: 7rem;">A programming language</h4>
    <button style="background-color: #282A35;color: white;margin-left: 12rem;
    margin-top: 1rem; height: 40px; width: 100px; border-radius: 5px;">Learn C++</button>
  </div>
   <div style="height: 280PX; width: 600px; background-color: #D9EEE1;margin-left: 7rem;border-radius: 10px;padding: 30px ;">
    <h1 style="margin-left: 14rem; font-weight: bold; margin-top: 1rem;">Java</h1>
    <h4 style="font-weight: bold; margin-top: 1rem;margin-left: 7rem;">A programming language</h4>
    <button style="background-color: #282A35; color: white;margin-left: 14rem;
    margin-top: 1rem; height: 40px; border-radius: 5px;">Learn Java</button>
  </div>
</div>
<br><br>
<br><br>
<div style="display: inline-flex; gap: 5px;">
  <div style="height: 180PX; width: 600px; background-color: #FFC0C7; margin-left: 7rem; border-radius: 10px;">
    <h1 style="margin-left: 14rem; font-weight: bold; margin-top: 4rem;">C</h1>
  </div>
   <div style="height: 180PX; width: 600px; background-color: #FFF4A3;margin-left: 7rem;border-radius: 10px;">
    <h1 style="margin-left: 14rem; font-weight: bold; margin-top: 4rem;">C#</h1>
  </div>
</div>

<div style="display: inline-flex; gap: 5px;margin-top: 3rem;">
  <div style="height: 140PX; width: 250px; background-color: #D9EEE1; margin-left: 7rem; border-radius: 10px;">
    <h1 style="margin-left: 7rem; font-weight: bold; margin-top: 3rem;">R</h1>
  </div>
   <div style="height: 140PX; width: 250px; background-color: #F3ECEA;margin-left: 6.1rem;border-radius: 10px;">
    <h1 style="margin-left: 4rem; font-weight: bold; margin-top: 3rem;">Kotlin</h1>
  </div>
  <div style="height: 140PX; width: 250px; background-color: #96D4D4;margin-left: 6.1rem;border-radius: 10px;">
    <h1 style="margin-left: 4rem; font-weight: bold; margin-top: 3rem;">Node.js</h1>
  </div>
  <div style="height: 140PX; width: 250px; background-color:#FFC0C7 ;margin-left: 6.1rem;border-radius: 10px;">
    <h1 style="margin-left: 4rem; font-weight: bold; margin-top: 3rem;">React</h1>
  </div>
</div>
<br><br>

<div style="display: inline-flex; gap: 5px;margin-top: 3rem; margin-bottom: 4rem;">
  <div style="height: 140PX; width: 250px; background-color: #FFF4A3; margin-left: 7rem; border-radius: 10px;">
    <h1 style="margin-left: 4rem; font-weight: bold; margin-top: 3rem;">JSON</h1>
  </div>
   <div style="height: 140PX; width: 250px; background-color: #D9EEE1;margin-left: 6.1rem;border-radius: 10px;">
    <h1 style="margin-left: 4rem; font-weight: bold; margin-top: 3rem;">Vue</h1>
  </div>
  <div style="height: 140PX; width: 250px; background-color: #F3ECEA;margin-left: 6.1rem;border-radius: 10px;">
    <h1 style="margin-left: 4rem; font-weight: bold; margin-top: 3rem;">MySQL</h1>
  </div>
  <div style="height: 140PX; width: 250px; background-color: #96D4D4;margin-left: 6.1rem;border-radius: 10px;">
    <h1 style="margin-left: 4rem; font-weight: bold; margin-top: 3rem;">XML</h1>
    
  </div>
<br><br>
<br><br>


  </div>
</body>
</html>