
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body >
   
    <div style="display: flex;">
    <div style="height: 180PX; width: 600px; background-color: #96D4D4;margin-left: 7rem;border-radius: 10px;">
    <h1 style="margin-left: 14rem; font-weight: bold; margin-top: 4rem;">Excel</h1>
  </div>
  <div style="height: 180PX; width: 600px; background-color: #FFF4A3;margin-left: 7rem;border-radius: 10px;">
    <h1 style="margin-left: 14rem; font-weight: bold; margin-top: 4rem;">DSA</h1>
  </div>
</div>
 <div style="display: flex;margin-top: 4rem;">
    <div style="height: 180PX; width: 600px; background-color: #FFC0C7;margin-left: 7rem;border-radius: 10px;">
    <h1 style="margin-left: 9rem; font-weight: bold; margin-top: 4rem;">Machine Learning</h1>
  </div>
  <div style="height: 180PX; width: 600px; background-color: #F3ECEA;margin-left: 7rem;border-radius: 10px;">
    <h1 style="margin-left: 14rem; font-weight: bold; margin-top: 4rem;">AI</h1>
  </div>
</div>
    <!-- login vala page h -->
    <div class="maincontainer" style="background-color: #D9EEE1;display: flex; flex-direction: column; align-items: center; text-align: center; padding: 40px;">
       <h1 style="font-size: 60px; font-weight: bold; font-family: sans-serif;">Log in / Sign Up</h1>
       <p style="font-weight: bold; font-family: sans-serif;max-width: 600px;">Create a free account to track your progress, 
        and get access to more features and learning materials.</p>
    
        <!-- <div style=" background-color:#D9EEE1; position: relative; height:100%; width:100%" >
        <img src="https://www.w3schools.com/dashboard1.webp" alt="daynamin problem" 
        style="height: 600px; width: 820px; position: absolute; left: 350px; background-color: #D9EEE1;">
           <p style="position: absolute; top: 900px; height: 100px; width: 100%; ">
            <a href="#" style="background-color: #04AA6D; color: white; padding: 10px 25px;  position: absolute; top: 1050px; font-size: 18px;
         border-radius: 30px; text-decoration: none;  height: 100px; width: 100%;   font-weight: bold; height: 30px; width: 140px; position: absolute; left:600px; margin-left:10px;">Sign Up for Free</a>
        </p>
    </div> -->

    <img  src="https://www.w3schools.com/dashboard1.webp">
    <p style="width: 200px; height: 40px; background-color: #04AA6D; border-radius: 20px; margin-top: 10px;">
        <a href="https://profile.w3schools.com/signup?redirect_url=https%3A%2F%2Fwww.w3schools.com%2F" style="color: white; text-decoration: none; padding: 10px 25px; font-weight: bold; font-size: 18px;"> Sign Up for Free</a>
    </p>
   
</div>
<div style="background-color: #282A35; display: flex; flex-direction: column; align-items: center;">
<h1 style="font-size: 60px; font-weight: bold; color: white;">Code Editor</h1>
<p style="font-size: 20px; font-weight: bold; color: white;">With our online code editor, you can edit code and view the result in your browser</p>
<div class="maindiv">
    <div class="maindiv2" style="display: flex;width: 1000px;height: 50px; background-color: #F1F1F1;">
        <div class="eql1" style="display: flex; height: 30px; width: 200px; background-color:#F1F1F1;">
            
            <div style="background-color: #ed594a; height: 20px; width: 20px;border-radius: 50px; margin-top: 6px; margin-left: 10px;"></div>
             <div style="background-color: #FDD800; height: 20px; width: 20px;border-radius: 50px;margin-top: 6px;margin-left: 10px;"></div>
              <div style="background-color: #5AC05A; height: 20px; width: 20px;border-radius: 50px;margin-top: 6px;margin-left: 10px;"></div>
        </div>
        <div>
            <input value="www.w3schools.com/tryit/" style="height: 20px; width: 600px; border: none;margin-top: 6px;">
        </div>
    </div>
    <div style="background-color: #F1F1F1;">
        <div>
            <button class="btn1"   style="border: none; font-size: 20px; font-weight: bold;background-color: #e8e0e0 ">Frontend</button>
            <button   class="btn1" style="border: none; font-size: 20px; font-weight: bold; background-color: #e8e0e0">Backend</button>
        </div>
    </div>
    <div>
        <img src="https://www.w3schools.com/codeeditor.webp" alt="not found" style="width: 1000px;">
    </div>
</div>
<div style="margin-top: 20px;">
<button style="background-color: #04AA6D; height: 40px; border-radius: 10px; "> Try frontend Editor (HTML/CSS/JS)</button>
<br>
<button style="background-color: #FFF4A3; height: 40px; border-radius: 10px; margin-top: 10px;"> Try Backend editor (Paython/PHP/JAVA/C)</button>
</div>
</div>
<!-- new page start  -->
 <div style="display: flex;  flex-direction: column; align-items: center; background-color: #282A35; ">
    <h1 style="font-weight: bold; font-size: 60px; color: white;margin-top: 100px;">Become a Plus User</h1>
    <h3 style=" color: #FFC0C7;  font-weight: bold; font-size: 35px; margin-top: 30px;">And unlock powerful features:</h3>
    <div>
        <ul style=" font-size: 20px; font-weight: bold; color: white; margin-top: 30px;">
            <li>Browse W3Schools without ads</li>
            <li>Build and host Websites</li>
            <li>Unlimited challenges</li>
            <li>Unlimited practice tests</li>
            <li>Get extra credits</li>
            <li>Priority support</li>
        </ul>
        <p style="height: 45px; width: 300px; background-color: #04AA6D; border-radius: 20px;">
            <a href="https://www.w3schools.com/plus/index.php" style="text-decoration: none; font-size: 20px; color: white; font-weight: bold; margin-left: 90px; margin-top: 40px;" >Learn More</a>
        </p>
    </div>
 </div>
 <!-- color picker page -->
  <div style="background-color: #F3ECEA; display: flex; flex-direction: column; align-items: center; margin-top: 100px;">
    <h1 style="font-size: 60px; font-weight: bold;">Color Picker</h1>
    <h4 style="font-weight: bold; margin-top: 30px;">W3Schools' famous color picker:</h4>
    <a href="https://www.w3schools.com/colors/colors_picker.asp" style="margin-top: 30px;margin-bottom: 4rem;">
        <img src="https://www.w3schools.com/images/colorpicker.webp" alt="not found" style="width: 150px; height: 128px;">
    </a>
  </div>
  <!-- new code game -->
   <div style="display: flex; flex-direction: column; align-items: center; margin-top: -10px; background-color: #96D4D4;">
    <h1 style="font-weight: bold; margin-top: 70px;">Code Game</h1>
    <h2>Help the Lynx collect pine cones!</h2>
    <img src="https://www.w3schools.com/images/w3lynx_200.webp" alt="not found" style="height: 200px; width: 120px; margin-top: 50px;">
    <p style="background-color: #04AA6D; height: 40px; width: 250px;border-radius: 20px; margin-top: 40px;">
        <a href="https://www.w3schools.com/codegame/index.html" style="text-decoration: none; font-size: 20px; font-weight: bold;  color: white; margin-left:85px ;">
            Play Game</a>
    </p>
   </div>
   <!-- footer new page -->
    <div style="background-color: #282A35;">
        <div style="display: inline-flex; margin-top: 100px; margin-left: 100px; margin-right: 50px;">
        <div >
            <a href="https://www.w3schools.com/">
                <img src="https://www.w3schools.com/images/w3schools_logo_436_2.png" alt="not found"
                 style="height: 90px; width: 106px; margin-top: 5px;">
            </a>
        </div>
        
        <div style="margin-left: 50px; margin-right: 50px; margin-top: 30px;">
            <a href="https://www.w3schools.com/plus/index.php" style="color: #FFF4A3; text-decoration: none;">PLUS</a>
        </div>
        <div  style="margin-left: 50px; margin-right: 50px; margin-top: 30px;">
            <a href="https://www.w3schools.com/spaces/index.php" style="color: #FFF4A3; text-decoration: none;">SPACES</a>
        </div>
        <div  style="margin-left: 50px; margin-right: 50px;margin-top: 30px;">
            <a href="https://campus.w3schools.com/en-in/collections/certifications" style="color: #FFF4A3; text-decoration: none;">GET CERTIFIED</a>
        </div>
        <div  style="margin-left: 50px; margin-right: 50px;margin-top: 30px;">
            <a href="https://www.w3schools.com/academy/index.php" style="color: #FFF4A3; text-decoration: none;">FOR TEACHERS</a>
        </div>
       <div  style="margin-left: 50px; margin-right: 50px;margin-top: 30px;">
        <a href="https://www.w3schools.com/academy/index.php" style="color: #FFF4A3; text-decoration: none">FOR BUSNESS</a>
       </div>
       <div  style="margin-left: 50px; margin-right: 50px;margin-top: 30px;">
        <a href="#" style="color: #FFF4A3; text-decoration: none;">CONTACT US</a>
       </div>
       </div>
        <!-- yaha se new heading -->
     <div style="background-color: #282A35; display: inline-flex;margin-left: 100px; margin-right: 50px;">
        <a href="#" style="text-decoration: none; color: #DDDDDD; margin-left: 10rem;"><h5>Top Tutorials</h5></a>
         <a href="#" style="text-decoration: none; color: #DDDDDD;margin-left: 10rem;"><h5>Top References</h5></a>
          <a href="#" style="text-decoration: none; color: #DDDDDD;margin-left: 10rem;"><h5>Top Examples</h5></a>
           <a href="#" style="text-decoration: none; color: #DDDDDD;margin-left: 10rem;"><h5>Get Certified</h5></a>
            
     </div>
     <!-- yaha se firse new -->
      <div style="display: inline-flex;">
      <div style="margin-left: 16rem;">
        <a href="#" style="text-decoration: none; color: #DDDDDD;"></a>
        <br>
        <a href="https://www.w3schools.com/html/default.asp" style="text-decoration: none; color: #DDDDDD;">HTML Tutorial</a>
        <br>
        <a href="https://www.w3schools.com/css/default.asp" style="text-decoration: none; color: #DDDDDD;">CSS Tutorial</a>
        <br>
        <a href="https://www.w3schools.com/js/default.asp" style="text-decoration: none; color: #DDDDDD;">JavaScript Tutorial</a>
        <br>
        <a href="https://www.w3schools.com/howto/default.asp" style="text-decoration: none; color: #DDDDDD;">How To Tutorial</a>
        <br>
        <a href="https://www.w3schools.com/sql/default.asp" style="text-decoration: none; color: #DDDDDD;">SQL Tutorial</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">Python Tutorial</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">W3.CSS Tutorial</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">Bootstrap Tutorial</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">PHP Tutorial</a>
        
      </div>
      <div style="margin-left: 10rem;">
        <a href="#" style="text-decoration: none; color: #DDDDDD;"></a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">HTML Reference</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">CSS Reference</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">JavaScript Reference</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">How To Reference</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">SQL Reference</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">Python Reference</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">W3.CSS Reference</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">Bootstrap Reference</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">PHP Reference</a>
        
      </div>
       <div style="margin-left: 10rem;">
        <a href="#" style="text-decoration: none; color: #DDDDDD;"></a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">HTML Example</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">CSS Example</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">JavaScript Example</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">How To Example</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">SQL Example</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">Python Example</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">W3.CSS Example</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">Bootstrap Example</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">PHP Example</a>
        
    </div>
    <div style="margin-left: 10rem;">
        <a href="#" style="text-decoration: none; color: #DDDDDD;"></a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">HTML Certified</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">CSS Certified</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">JavaScript Certified</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">How To Certified</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">SQL Certified</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">Python Certified</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">W3.CSS Certified</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">Bootstrap Certified</a>
        <br>
        <a href="#" style="text-decoration: none; color: #DDDDDD;">PHP Certified</a>
        
    </div>
<!-- yaha se vo icons vagera -->
    
    </div> 
    <div style="margin-left: 30rem; margin-top: 5rem;">
     <a href="https://www.youtube.com/@w3schools" style="text-decoration: none; color: #DDDDDD; font-size: 25px;margin-left: 2rem;"><i class="fa-brands fa-youtube"></i></a>
     <a href="#" style="text-decoration: none; color: #DDDDDD; font-size: 25px;margin-left: 1rem;"><i class="fa-brands fa-linkedin"></i></a>
     <a href="#" style="text-decoration: none; color: #DDDDDD; font-size: 25px;margin-left: 1rem;"><i class="fa-brands fa-discord"></i></a>
     <a href="#" style="text-decoration: none; color: #DDDDDD; font-size: 25px;margin-left: 1rem;"><i class="fa-brands fa-facebook"></i></a>
     <a href="#" style="text-decoration: none; color: #DDDDDD; font-size: 25px;margin-left: 1rem;"><i class="fa-brands fa-instagram"></i></a>
     <a href="https://w3schools.invisionzone.com/" style="text-decoration: none; color: #DDDDDD; font-size: 15px;margin-left: 1rem; font-weight: 500;">FORUM</a>
     <a href="https://www.w3schools.com/about/default.asp" style="text-decoration: none; color: #DDDDDD; font-size: 15px;margin-left: 1rem; font-weight: 500;">ABOUT</a>
     <a href="https://www.w3schools.com/academy/index.php" style="text-decoration: none; color: #DDDDDD; font-size: 15px;margin-left: 1rem; font-weight: 500;">ACADEMY</a>
     

    </div>
    <!-- for text -->
     <div  style="color: #DDDDDD; margin-left: 20rem;margin-top: 1rem;" >
      W3Schools is optimized for learning and training. Examples might be simplified to improve reading and learning.
      <br>
      Tutorials, references, and examples are constantly reviewed to avoid errors, but we cannot warrant full correctness
      of all content.<br> While using W3Schools, you agree to have read and accepted our <a href="#">privacy policy,copyWrite1999-2025</a>
      by Refsnes Data. All Rights Reserved.<br>
      <br>
      <a href="https://www.w3schools.com/about/about_privacy.asp" style="margin-left:20rem ; color: #DDDDDD; ">W3School is Powered by W3.CSS </a>
     </div>
</body>
</html>